:root {
  --main-color: #2ecc71;
  --secondary-color: #e74c3c;
  --third-color: #f39c12;
  --fourth-color: #afd8f3;

  --background-gradient: linear-gradient(to right, #ffd200, #f7971e);
}

/* body {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  height: 100vh;
} */

nav {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: var(--background-gradient);
  height: 70px;
}

nav img {
  width: 200px;
  height: 70px;
}

.header {
  height: 70px;
  background-color: #afd8f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topnav {
  height: 50px;
}

.topnav a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: black; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

.topnav a:hover {
  background-color: #afd8f3;
}

.main-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.top-frame {
  /* width: 200px; */
  height: 100px;
  background-color: #2ecc71;
}

.middle-frame {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

.inner-middle-frame {
  flex: 1;
  background-color: #e74c3c;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  height: 350px;
  max-width: 300px;
}

.code-view-frame {
  justify-content: center;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.view-frame {
  width: 800px;
  background-color: #2ecc71;
}

.code-frame {
  width: 500px;
  background-color: #e74c3c;
}

.blocks-frame {
  height: 100px;
  width: 1300px;
  background-color: blueviolet;
}

.bottom-frame {
  height: 50px;
  background-color: #f39c12;
  display: flex;
  justify-content: center;
  align-items: center;
}
