:root {
  --primary-color: #ffd166;
  --secondary-color: #afca05;
  --accent-color: #ef476f;
  --background-color: #fff;
  --dark-color: #020f13;

  --background-gradient: linear-gradient(to left, #ffd200, #f7971e);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body.home {
  /* background: var(--background-gradient); */
  font-family: "Poppins", sans-serif;
}

.animated-svg {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
  top: 0;
  filter: invert(1);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-gradient);
  background: transparent;
  height: 80px;
  z-index: 100;
  position: sticky;
  top: 0;
}

nav a {
  color: var(--dark-color);
  text-decoration: none;
  /* padding: 0 20px; */
  font-size: 1.2rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

nav img {
  width: 10rem;
  height: auto;
}

.hero-container h1 {
  font-size: 2.25rem;
}
nav .btn-primary {
  background-color: var(--primary-color);
  color: var(--dark-color);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-img-container {
  position: relative;
  z-index: 3;
}
.hero-img-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/media/svg/hero-img-bg-shape.svg") no-repeat center
    center;
  background-size: 100% 140%;
  background-position: center;
  z-index: -1;
  opacity: 0.9;
}

.header {
  height: 70px;
  background-color: #afd8f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.top-frame {
  /* width: 200px; */
  height: 100px;
  /* background-color: #2ecc71; */
}

.middle-frame {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

.inner-middle-frame {
  flex: 1;
  background-color: #e74c3c;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  height: 350px;
  max-width: 300px;
}

.code-view-frame {
  justify-content: center;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.view-frame {
  width: 800px;
  background-color: #2ecc71;
}

.code-frame {
  width: 500px;
  background-color: #e74c3c;
}

.blocks-frame {
  height: 100px;
  width: 1300px;
  background-color: blueviolet;
}

.bottom-frame {
  height: 50px;
  background-color: #f39c12;
  display: flex;
  justify-content: center;
  align-items: center;
}
